* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/home.jpg');
  background-size: cover;
  height: auto;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.sound {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d30000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound img {
  width: 25px;
  height: 25px;
}

h1 {
  color: #EEE;
  font-size: 36px;
  text-transform: uppercase;
  animation: bounce 1s ease infinite;
  padding: 15px;
  text-align: center;
  margin-bottom: 50px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.container {
  width: 500px;
  height: auto;
  text-align: center;
  background-color: #2c517485;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px #0000001a;
}


.form-group {
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

label {
  display: block;
  margin-bottom: 25px;
  color: white;
  font-size: 18px;
}

input, select {
  width: 250px;
  padding: 10px;
  background-color: #2c5174;
  color: white;
  border: none; 
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input:focus, select:focus {
  background-color: #1c3a5c;
}

button {
  width: 150px;
  padding: 15px;
  background-color: #2c5174;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1c3a5c;
}

#greeting {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 30px;
}

.selection {
  width: 150px;
  text-align: center;
}

#userInfo {
  background-color: #00408991;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
  color: #97c7f4;
}
.welcome, .score {
  padding: 10px;
  font-size: 18px;
}
.score {
  font-size: 14px;
}
.swal2-popup {
  font-size: 16px;
  color: #FFF;
  border-radius: 15px;
}
.swal2-container h2 {
  color: #f27474;
  font-size: 14px;
}
.swal2-container button {
  width: 100px;
} 
.swal2-backdrop-show {
  background: rgb(81 81 81 / 40%);
}

div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background: rgba(249, 251, 255, 0.15);
}
